<ion-header>
  <ion-toolbar>
    <ion-title>discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" class="ion-text-center">
        <ion-card [routerLink] = "['./', 'place-details', places[0].id]">
          <ion-card-header>
            <ion-img [src]="places[0].imageUrl"></ion-img>
            <ion-card-title>{{places[0].name}}</ion-card-title>
            <ion-card-subtitle>{{places[0].location}}</ion-card-subtitle>
            <ion-label>price: {{places[0].price | currency}}</ion-label>
          </ion-card-header>
        
          <ion-card-content>
            {{places[0].description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1">
        <ion-list>
          <ion-item *ngFor = "let place of places.slice(1)" (click) = "getPlaceDetails(place.id)">
            <ion-thumbnail slot="start">
              <img [src]="place.imageUrl">
            </ion-thumbnail>
            <ion-label>{{place.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>      
  
</ion-content>
