<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment color="secondary" value = "allPlaces" (ionChange) = "segmentChanged($event)">
      <ion-segment-button value="allPlaces">
        <ion-label>All Places </ion-label>
      </ion-segment-button>
      <ion-segment-button value="offerPlaces">
        <ion-label>Offer Places</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>{{places[0].name}}</ion-card-title>
            <ion-card-subtitle>Times Squre</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="places[0].imageUrl"></ion-img>

          <ion-card-content>
            <ion-label>
              <h2>$ {{places[0].price}}</h2>
              <p>{{places[0].description}}</p>
            </ion-label>
            <ion-button fill="outline" [routerLink]="['place-details','p1']">
              <ion-icon slot="star" name="star"></ion-icon>
              More
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-list *ngFor="let item of places.slice(1);">
          <ion-item detail [routerLink]="['place-details',item.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="item.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2><ion-text color="tertiary">{{item.name}}</ion-text></h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
