<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "modalClose()">
        <ion-icon slot="icon-only" name = "close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] ="bookingFormSubmit">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item> 
            <ion-label position = "floating">First Name</ion-label>
            <ion-input type= "text" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item> 
            <ion-label position = "floating">Last Name</ion-label>
            <ion-input formControlName="lastName" type= "text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item> 
            <ion-label position = "floating">No of Guest</ion-label>
            <ion-select [ngModel] placeholder="Select Member" formControlName="noOfGuest">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3">
          <ion-item> 
            <ion-label position = "floating">From Date</ion-label>
            <ion-datetime 
              formControlName= "formDate"
              display-format="D-M-YYYY" 
              picker-format="D MMM YYYY"
              [min] = "offerDetails.toDate.toISOString()"
              [max] = "offerDetails.fromDate.toISOString()"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3">
          <ion-item> 
            <ion-label position = "floating">To Date</ion-label>
            <ion-datetime
              formControlName= "toDate"
              display-format="D-M-YYYY" 
              picker-format="D MMM YYYY"
              [min] = "bookingFormSubmit.get('formDate').value || offerDetails.toDate.toISOString()"
              [max] = "offerDetails.fromDate.toISOString()"   
              ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-button 
          color="danger" 
          (click) = "submitBookingForm()" 
          [disabled] = "!bookingFormSubmit.valid || !dateValid()"
          expand="block"> 
          Book
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
